logs/*
!.gitkeep
tmp
.DS_Store
.idea
*.sublime-workspace
.bower.json

/app/js/config.js

/bower_components/
/node_modules/

/app/bower_components/angulartics/*
!/app/bower_components/angulartics/dist
/app/bower_components/bootstrap/*
!/app/bower_components/bootstrap/dist
/app/bower_components/jquery/*
!/app/bower_components/jquery/dist
