
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">

  	<p>
  		Created by <a href="http://mattanjakern.de/">Mattanja Kern</a>
  	</p>

  	<p>
  		Source code and some more information can be found at
  		<a href="https://github.com/mattanja/firstthingsfirst">https://github.com/mattanja/firstthingsfirst</a>
	</p>
  </div>
</div>

<div class="container">
	<p>
	  {{ 'Current version is v%VERSION%.' | interpolate }}
	</p>
</div>